[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
pandas = "*"
dvc = {extras = ["gdrive"], version = "*"}

[dev-packages]
pylint = "*"
pre-commit = "*"
notebook = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
